:root {
    color-scheme: light only; /* Фиксируем светлую тему */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: slategray;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
}




.buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
    width: 80vw;
    height: 80vw;
    
    position: absolute;
    top: 32%;
    left: 50%;
    padding: 102px;
    transform: translate(-32%, -50%); /* Возвращаем на 50% назад по двум осям */
}


.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    cursor: pointer;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}


.selected {
    border: 1px solid green;
}

